<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="//code.jquery.com/ui/1.13.0/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.13.0/jquery-ui.js"></script>
    <script src="~/js/common.js"></script>
    <script src="~/js/AccountService.js"></script>
    <script>
        $(function () { $("#datepicker").datepicker(); LoadData(); SendAccountServiceRequest() });
    </script>
</head>
<body>
    <h3>Web payment client</h3>
    <span>
        <input id="CustomerNameTb" placeholder="Input customer name" />
        <input type="text" id="datepicker" placeholder="Input payment date" />
        <input id="LoadDataBtn" type="button" value="Refresh" onclick="LoadData()" />
    </span>
    <div style="padding-top:10px"></div>
    <span>
        <label id="PageInfo"></label>
        <input id="PagePlusBtn" type="button" value="+" onclick="PagePlus(false)" />
        <input id="PageMinusBtn" type="button" value="-" onclick="PageMinus(false)" />

        <label id="PageSize" style="padding-left:20px"></label>
        <input id="PagePlusBtn" type="button" value="+" onclick="PagePlus(true)" />
        <input id="PageMinusBtn" type="button" value="-" onclick="PageMinus(true)" />

    </span>
    <table id="DataTable" border="1"></table>
</body>
</html>
